@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: #edecec;
  --bg-cards: #1b1913;
  --para-color: #999894;
  --link-color: #f54e00e3;
}
body {
  background-color: #14120b;
  color: #edecec;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.icon img {
  width: 100px;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #14120b;
  z-index: 5;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

.center-nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  margin-left: 5.3rem;
  color: #edecece4;
}

.center-nav ul li {
  padding: 0 17px;
}
.right-nav button {
  cursor: pointer;
}
.right-nav button:first-child {
  background-color: #14120b;
  color: #edecec;
  padding: 7.5px 12px;
  font-weight: 500;
  border-radius: 19px;
  border: 1px solid #edecec49;
}

.right-nav button:nth-child(2) {
  padding: 7px 14px;
  margin-left: 3px;
  border-radius: 19px;
  font-weight: 500;
  border: none;
}
.headline {
  margin-top: 6rem;
}
.headline h2 {
  font-weight: 400;
  font-size: 1.65rem;
}

.headline button {
  display: flex;
  align-items: center;
  padding: 12px 26px;
  border-radius: 1.5rem;
  font-size: 1rem;
  margin-top: 1.2rem;
}

.headline button img {
  height: 20px;
  width: 17px;
  margin-left: 0.2rem;
}

.hero-image-ss {
  margin-top: 3rem;
  background-image: url(Assets/hero-ss1.png);
  width: 100%;
  height: 77vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#trustp {
  font-size: 0.9rem;
  margin: 4rem 0 0.7rem 0;
  text-align: center;
}

.trust-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.65rem;
  margin-top: 1.2rem;
}

.trust-img {
  background-color: var(--bg-cards);
  padding: 1.9rem 2.4rem;
  border-radius: 4px;
  border: 1px solid #87868316;
}

.trust-img img{
width: 110%;
}

.featured {
  background-color: var(--bg-cards);
  height: 82vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: 0.4rem;
}

.left-text {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
}
.left-text a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--link-color);
}
.left-text a svg {
  margin-left: 0.3rem;
}
.left-text h3 {
  font-weight: 350;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.hai {
  color: var(--para-color);
}

.fimage {
  background-image: url(Assets/featured-ss1.png);
  width: 145%;
  display: inline-block;
  height: 98%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.8rem 1.2rem 0 0;
}

.fno2 {
  background-image: url(Assets/featured-ss2.png);
  margin-left: 0.9rem;
  margin-top: 2rem;
}

.fno2text {
  padding: 1rem;
}

#fno2h3 {
  color: var(--para-color);
  font-weight: 350;
  font-size: 1.4rem;
  padding-right: 14px;
}

.fno3 {
  background-image: url(Assets/featured-ss3.png);
  margin: 1.1rem 0 0 0;
}

.fno3text {
  padding: 1rem;
}

.fno3h3 {
  padding-right: 16px;
}

.grid-section {
  margin-bottom: 10rem;
}

.grid-h2 {
  font-weight: 350;
  font-size: 2.25rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2.8rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.cards {
  background-color: var(--bg-cards);
  padding: 1rem;
  height: 28.5vh;
  font-weight: 300;
  line-height: 1.6rem;
  position: relative;
  border-radius: 0.4rem;
}

.card-img {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Favatars%2Fdiana-hu-avatar.png&w=96&q=70);
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.4rem;
}

.card-img-wrapper {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  align-items: center;
}

.pwrap p:last-child {
  color: var(--para-color);
}

.pwrap p {
  font-size: 0.85rem;
  line-height: 1.3rem;
}

.cimg2 {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Fmisc%2Fasset-b7d40eac35d910f3448b.png&w=96&q=70);
}
.cimg3 {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Favatars%2Fandrej-karpathy-avatar.png&w=96&q=70);
}
.cimg4 {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Favatars%2Fpatrick-collison-avatar.png&w=96&q=70);
}
.cimg5 {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Favatars%2Fshadcn-avatar.png&w=96&q=70);
}
.cimg6 {
  background-image: url(https://cursor.com/marketing-static/_next/image?url=https%3A%2F%2Fptht05hbb1ssoooe.public.blob.vercel-storage.com%2Fassets%2Favatars%2Fgreg-brockman-avatar.jpg&w=96&q=70);
}

.usecasesh2 {
  margin-bottom: 1.5rem;
  font-weight: 350;
}

.grid-rowcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 68vh;
  gap: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
}

.rowcards {
  background-color: var(--bg-cards);
  padding: 1rem;
  border-radius: 0.4rem;
}

.rowcards a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--link-color);
}

.rowcards p:nth-child(2) {
  color: var(--para-color);
}

.rowimg1 {
  margin-top: 1rem;
  background-image: url(Assets/rowcard-ss1.png);
  height: 48vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.rowimg2 {
  background-image: url(Assets/rowcard-ss2.png);
  margin-top: 1rem;
  height: 48vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.rowimg3 {
  background-image: url(Assets/rowcard-ss3.png);
  margin-top: 1rem;
  height: 48vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.log-section {
  margin-top: 10rem;
}
.log-2link {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--link-color);
}
.log-section h2 {
  font-weight: 350;
  margin-bottom: 1.5rem;
}
.log-container {
  display: flex;
  gap: 1rem;
}

.log-container a {
  text-decoration: none;
  cursor: pointer;
}

.log-cards {
  background-color: var(--bg-cards);
  height: 14vh;
}

.log-cards:hover {
  background-color: #201e18;
}
.text-heading {
  color: var(--para-color);
  font-weight: 350;
  padding: 1rem 1rem 0 1rem;
}

.text-heading span {
  border: 1px solid var(--para-color);
  border-radius: 2rem;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  margin-right: 0.7rem;
}
.log-link p {
  color: #edecec;
  font-weight: 350;
  padding: 1rem;
}

.final-cta-container {
  background-color: var(--bg-cards);
  height: 58vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.5rem;
  margin-bottom: 9.5rem;
  border-radius: 0.4rem;
}

.hai-q {
  color: #edecece9;
  font-weight: 350;
}

.timage {
  background-image: url(Assets/cursor-team-photo.webp);
  width: 145%;
  display: inline-block;
  height: 98%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.8rem 1.2rem 0 0;
}

.highlights-sec {
  background-color: var(--bg-cards);
  height: 73vh;
  width: 100%;
  position: relative;
}

.highlight-box {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 0.8rem;
  height: 47vh;
  position: absolute;
  top: 9.6vh;
}

.highlight-box > p {
  grid-column: 3/ 8;
  font-weight: 350;
}

.highlight-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--link-color);
  margin-top: 0.8rem;
  cursor: pointer;
  align-self: self-start;
  grid-column: 8 / 18;
}

.row-grid {
  display: flex;
  flex-direction: column;
  background-color: #201e18;
  padding: 0.8rem;
  flex-grow: 1;
  line-height: 1.5;
}

.row-grid1 {
  grid-column: 8 / 18;
}
.row-grid2 {
  grid-column: 8 / 18;
}
.row-grid3 {
  grid-column: 8 / 18;
}

.row-grid span {
  color: #878683;
  padding-right: 1.5rem;
}

.row-grid p {
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 0.2rem;
}

.highlight-date {
  margin-top: 1.2rem;
}

.final-cta {
  height: 45vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.final-cta p {
  margin-bottom: 1rem;
  font-size: 4.5rem;
}

.final-cta button {
  color: #14120b;
  cursor: pointer;
  padding: 0.78rem 1.35rem 0.8rem 1.35rem;
  border-radius: 25px;
  font-size: 1rem;
  border: 1px solid #edecec;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}

.final-cta button img {
  height: 20px;
  width: 17px;
  margin-left: 0.2rem;
}

.highlights-sec {
  background-color: var(--bg-cards);
  height: 73vh;
  width: 100%;
  position: relative;
}

footer {
  background-color: var(--bg-cards);
  height: 49.5vh;
}

footer nav {
  padding: 4rem 1rem 0 1rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding-bottom: 7rem;
}

.footer-list ul li {
  list-style: none;
  line-height: 1.9;
}

.footer-list h4 {
  color: #878683;
  font-weight: 400;
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
}

.footer-list ul li a {
  text-decoration: none;
  color: #edececdf;
  font-size: 0.85rem;
}

.copy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #878683;
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.copyright a {
  text-decoration: none;
  color: #878683;
}

.copyright span{
  padding-right: 1rem;
}
.copyright a svg{
  height: 13px;
  width: 13px;
  color: #878683;
}
.theme{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.theme img {
  height: 30.3px;
  width: 120px;
}
.theme button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edecec;
  padding: 6.15px 14px;
  border-radius: 19px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
  background-color:#26241e;
  gap: 0.3rem;
}